$header-height: 64px;

.index-page {
  header {
    background-color: #fdfdfd;
    color: #081f45;
    z-index: 9999;
    height: $header-height;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .header-left {
      display: flex;
      align-items: center;
      .logo {
        position: relative;
        .name {
          font-size: 32px;
          font-weight: 500;
        }
        .icon {
          position: absolute;
          right: -20px;
          top: 5px;
        }
      }
    }
    .header-right {
      height: 100%;
      display: flex;
      align-items: center;
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li {
          margin-left: 54px;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .header-btn {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 54px;
        line-height: 18px;
        .btn {
          height: 36px;
          background-color: #ff695b;
          padding: 10px 20px;
          cursor: pointer;
          color: #ffffff;
          border-radius: 2px;
        }
      }
    }
  }
  .content {
    .introduce {
      padding-left: 120px;
      padding-top: 50px;
      margin-bottom: 73px;
      .title {
        display: block;
        color: #212a2f;
        font-size: 56px;
        letter-spacing: -1px;
        line-height: 68px;
        margin-bottom: 21px;
      }
      .detail {
        color: #5d7079;
      }
    }
    .customs-duty{
      height: 560px;
      .content{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-left: 120px;
        padding-top: 109px;
        padding-right: 120px;
      }
      .left{
        width: 50%;
        height: 100%;
        .title{
          font-size: 56px;
          font-weight: 500;
          color: #212A2F;
          line-height: 68px;
          letter-spacing: -1px;
          display: inline-block;
          margin-bottom: 51px;
        }
        .details{
          font-size: 16px;
          color: #5D7079;
          display: inline-block;
          width: 460px;
        }
        .line-1{
          display: inline-block;
          margin-bottom: 30px;
        }
        .small-cta{
          display: inline-block;
          margin-top: 35px;
          color: #386FE3;
        }
      }
      .right{
        width: 50%;
        height: 100%;
        .image{
          width: 600px;
          max-width: 100%;
          height: 360px;
          display: inline-block;
          border: 1px solid #ddd;
        }
      }
    }
    .duty-rate{
      height: 560px;
      .content{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 109px;
      }
      .left{
        width: 50%;
        height: 100%;
        .image{
          width: 600px;
          max-width: 100%;
          height: 360px;
          display: inline-block;
          border: 1px solid #ddd;
        }
      }
      .right{
        width: 50%;
        height: 100%;
        padding-left: 120px;
        .title{
          font-size: 56px;
          font-weight: 500;
          color: #212A2F;
          line-height: 68px;
          letter-spacing: -1px;
          display: inline-block;
          margin-bottom: 51px;
        }
        .details{
          font-size: 16px;
          color: #5D7079;
          display: inline-block;
          width: 460px;
        }
        .line-1{
          display: inline-block;
          margin-bottom: 30px;
        }
        .small-cta{
          display: inline-block;
          margin-top: 35px;
          color: #386FE3;
        }
      }
    }
  }
  .footer{
    height: 468px;
    background-color: #1A262f;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-top: 123px;
    padding-left: 120px;
    padding-right: 120px;
    .left{
      width: 40%;
      .detail{
        margin-top: 25px;
        display: inline-block;
      }
    }
    .right{
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        color: #93A1B0;
        line-height: 20px;
        margin-bottom: 20px;
      }
      .white{
        color: #fff;
      }
    }
  }
  .bottom{
    background-color: #1A262f;
    padding-left: 120px;
    padding-right: 120px;
    color: #93A1B0;
    height: 271px;
    .container{
      border-top: 1px solid #5D7079;
      padding-top: 40px;

    }
    .white{
      color: #fff;
      margin: 0;
      font-size: 18px;
    }
    p{
      font-size: 12px;
      margin-top: 18px;
    }
    .last{
      margin-top: 30px;
    }
  }
}
